@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body, #app {
        min-height: 100%;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        background-color: #f9f9ff;
        color: #1a1523;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    a {
        color: inherit;
    }
    button,
    input,
    textarea,
    select {
        font: inherit;
    }
}